head
  title Login to airSlate

  meta(charset="UTF-8")
  meta(name="robots" content="noindex")
  meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,  width=device-width")

  link(href="img/favicon.ico" rel="shortcut icon")
  link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
  link(rel="stylesheet", type="text/css", href="css/style.css")






  